@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.ContainerInstance>
@using Kola.Domain.Extensions
@using Kola.Nancy.Extensions
@using Linn.Responsive.Plugin.Extensions
<a class="@Model.Properties.GetClassNames()" @Html.Raw(Model.Properties.GetAsStaticUri("href")) @Html.Raw(Model.Properties.GetAsAttribute("target"))>
@Html.RenderComponents(Model.Components)
</a>
