@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.ContainerInstance>
@using Kola.Domain.Extensions
@using Kola.Nancy.Extensions
@using Linn.Responsive.Plugin.Extensions
    <div class="positioner">
    @Html.RenderComponents(Model.Components)
    </div>
