@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.AtomInstance>
@using Kola.Domain.Extensions
    <div class="news"></div>
    <nav class="primary f-full height-13-m">
        <a href="/">
            <div id="logo" class="pad-l-3-x pad-l-0-m m2-m12">  
                <img class="m-hide" src="/cdn/responsive/images/logo-black-chunky.png">
                <a href="/">
                    <img class="mobile x-hide m-show margin-t-3-m" src="/cdn/responsive/images/logo-small-black.gif">
                </a>
            </div>
        </a>
        <div class="inner x-showgrid d-showgrid t-showgrid p-showgrid m-showgrid m-hide">
            <div class="main-menu x2-x11 t3-t11 pad-l-0-f pad-l-6-x pad-l-6-d pad-l-0-t pad-l-4-p">
                <ul class="">
                    <li><a class="" href="/music-systems">Music Systems</a></li>
                    <li><a class="" href="/hifi-separates">Hi-Fi Separates</a></li>
                    <li><a class="t-hide" href="/find-a-shop">Find a Shop</a></li>
                    <li><a class="t-hide" href="/events">Events</a></li>
                    <li><a class="d-hide" href="http://www.linnrecords.com">Linn Records</a></li>
                </ul>
            </div>
        </div>
        <button class="pad-l-3-x pad-r-3-x" data-show=".full-menu" data-hide=".primary" type="button" id="full-menu">
            <span class="p-hide">Full </span>Menu
            <i class="burger"></i>
        </button>
    </nav>
    <nav class="full-menu">
        <div class="x-hide m-show border-b-hair-m border-secondary1-m height-13-m">
            <div class="m2-m12">
                <img class="mobile margin-t-3-m pad-t-2-m" src="/cdn/responsive/images/logo-small-black.gif">
            </div>
        </div>
        <button class="m-hide" type="button" id="full-menu">
        <button class="pad-l-3-x pad-r-3-x" data-show=".primary" data-hide=".full-menu"  type="button" id="full-menu">
        <span>Close</span>
        <img class="pad-l-5-x pad-l-2-p" src="/cdn/responsive/images/menu.gif">
        </button>
        <div class="f6-f12 x6-x12 m-hide secondary0-back-f secondary0-back-x f-overlap liner">
        </div>
        <div class="inner x-showgrid d-showgrid t-showgrid p-showgrid m-showgrid">
            <div id="logo" class="pad-l-3-x t-hide">
                <img class="m-hide" src="/cdn/responsive/images/logo-black-chunky.png">
            </div>
            <ul class="pad-l-0-f pad-l-6-x pad-r-5-x pad-l-0-t pad-r-0-t">
                <li class="m-hide x2-x12 t-all pad-t-5-x pad-b-7-x border-b-hair-x border-secondary2-x secondary0-back-x">
                    <a class="x2-x4 t1-t4 pad-t-5-x pad-l-6-t pad-r-0-t white-back-x" href="/">Home</a>
                    <ul class="x5-x12 t6-t12 p6-p12 pad-l-5-x pad-l-0-t ">
                        <li class=""></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-3-x pad-t-3-x pad-t-0-m border-b-hair-x border-secondary2-x border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="/music-systems">
                    <span class="m2-m11">Music Systems</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="x-hide m-show m2-m5"><a href="/music-systems">Overview</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="/music-systems/see-the-range">See the Range</a></li>
                        <li class="t6-t8 p6-p9 m2-m5"><a href="/music-systems/systems-explained"><span class="m-hide">Our </span>Systems Explained</a></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-3-x pad-t-3-x pad-t-0-m pad-b-3-m border-b-hair-x border-secondary2-x border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="/hifi-separates/">
                    <span class="m2-m11">Hi-Fi Separates</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="x-hide m-show m2-m5"><a href="/hifi-separates/">Overview</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a class="active" href="/hifi-separates/network-music-players">Network <span class="t-hide">Music</span> Players</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="/hifi-separates/speakers">Speakers</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="/hifi-separates/turntables">Turntables</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="/hifi-separates/amps">Amps</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="/hifi-separates/pre-amps">Pre-Amps</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="/hifi-separates/accessories">Accessories</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="/hifi-separates/upgrades">Upgrades</a></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-7-x pad-t-3-x pad-t-0-m pad-b-0-m border-b-hair-x border-secondary1-m border-secondary2-x secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x" href="/find-a-shop">
                    <span class="m2-m11">Find a Shop</span>
                    </a>
                    <ul class="x5-x12 pad-l-5-x secondary0-back-x">
                        <li></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-7-x pad-t-3-x pad-t-0-m pad-b-0-m border-b-hair-x border-secondary1-m border-secondary2-x secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x" href="/events">
                    <span class="m2-m11">Events</span>
                    </a>
                    <ul class="x5-x12 pad-l-5-x secondary0-back-x">
                        <li></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-3-x pad-t-3-x pad-t-0-m border-b-hair-x border-secondary2-x border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="http://www.linnrecords.com">
                    <span class="m2-m11">Linn Records</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="x-hide m-show m2-m6"><a href="ttp://www.linnrecords.com">Linn Records Home</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="http://www.linnrecords.com/catalogue.aspx">Browse Catalogue</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="http://www.linnrecords.com/news.aspx">News</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="http://www.linnrecords.com/reviews.aspx">Reviews</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="http://www.linnrecords.com/tourdates.aspx">Tour Dates</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="http://www.linnrecords.com/linn-about-us.aspx">About</a></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-3-x pad-t-3-x pad-t-0-m border-b-hair-x border-secondary2-x border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="/community/">
                    <span class="m2-m11">Community</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="t6-t8 p6-p9 m2-m5"><a href="http://forums.linn.co.uk">Forums</a></li>
                        <li class="t10-t11 p10-p11 m7-m11"><a href="http://news.linn.co.uk">News</a></li>
                        <li class="t6-t8 p6-p9 m2-m5"><a href="http://blogs.linn.co.uk/">Blogs</a></li>
                        <li class="t10-t11 p10-p11 m7-m11"><a href="https://www.facebook.com/linnhifi">Facebook</a></li>
                        <li class="t6-t8 p6-p9 m2-m5"><a href="https://twitter.com/linnproducts">Twitter</a></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-7-x pad-t-3-x pad-t-0-m pad-b-0-m border-b-hair-x border-secondary1-m border-secondary2-x secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x" href="/software">
                    <span class="m2-m11">Software</span>
                    </a>
                    <ul class="x5-x12 pad-l-5-x secondary0-back-x">
                        <li></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-3-x pad-t-3-x pad-t-0-m border-b-hair-x border-secondary2-x border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="/support">
                    <span class="m2-m11">Support</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="x-hide m-show m2-m6"><a href="/support">Contact Support</a></li>
                        <li class="t6-t8 p6-p9 m7-m11"><a href="/support/using-your-system">Using your system</a></li>
                        <li class="t10-t11 p10-p11 m2-m5"><a href="/warranry">Warranty</a></li>
                    </ul>
                </li>
                <li class="x2-x12 t-all m-all pad-b-8-x pad-t-3-x pad-t-0-m border-secondary1-m secondary0-back-x">
                    <a class="x2-x4 t1-t4 m-all pad-t-3-x pad-l-6-t pad-r-0-t pad-b-3-m pad-l-0-m white-back-x expand" href="/about-linn">
                    <span class="m2-m11">About linn</span>
                    </a>
                    <ul class="x5-x12 t6-t12 p6-p12 m-all m-clear pad-l-5-x pad-l-0-t pad-t-3-m pad-b-2-m">
                        <li class="t6-t8 p6-p9 m2-m5"><a href="/support">Contact Us</a></li>
                        <li class="t10-t11 p10-p11 m7-m11"><a href="/carrers">Careers</a></li>
                        <li class="t6-t8 p6-p9 m2-m5"><a href="/company-history">Company History</a></li>
                        <li class="t10-t11 p10-p11 m7-m11"><a href="/tunedem">Tune Dem</a></li>
                        <li class="t6-t8 p6-p9 m2-m5"><a href="/find-a-shop#visit">Visit Linn</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
