@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.AtomInstance>
@using Kola.Domain.Extensions
    <nav class="secondary f-full">
        <div class="inner x-showgrid">
            <div class="hybridcrumb x2-x11 d2-d11 t-all p-all pad-l-0-f pad-l-6-x pad-l-4-t pad-l-4-p m-hide">
                <ol>
                    <li><a href="/hifi-separates">Hi-Fi Separates</a></li>
                    <li><a href="/hifi-separates/network-music-players">Network Music Players</a></li>
                </ol>
                <ul>
                    <li><a href="/hifi-separates/network-music-players/klimax">Klimax <span>(3)</span></a></li>
                    <li><a href="/hifi-separates/network-music-players/akurate">Akurate <span>(3)</span></a></li>
                    <li><a href="/hifi-separates/network-music-players/majik">Majik <span>(2)</span></a></li>
                    <li><a href="/hifi-separates/network-music-players/kiko">Kiko <span>(1)</span></a></li>
                    <li><a href="/hifi-separates/network-music-players/sneaky">Sneaky <span>(2)</span></a></li>
                    <li><a href="#compare" class="compare tint3-text">Compare All <span>(11)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
