@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.ContainerInstance>
@using Kola.Domain.Extensions
@using Kola.Nancy.Extensions
@using Linn.Responsive.Plugin.Extensions
<section class="@Model.Properties.GetClassNames()">
    @Html.RenderComponents(Model.Components)
</section>