<button type="button" {{#unless hasAmendments}}disabled="true"{{/unless}}class="apply" title="Commit Amendments"><i class="fa fa-save fa-lg"></i></button>
<button type="button" {{#unless hasAmendments}}disabled="true"{{/unless}}class="undo" title="Undo"><i class="fa fa-undo fa-lg"></i></button>
<!--<button type="button" {{#unless hasAmendments}}disabled="true"{{/unless}}class="undo" title="Redo"><i class="fa fa-repeat fa-lg"></i></button>-->
<!--<button type="button" disabled="true" class="cut"><i class="fa fa-cut fa-lg"></i></button>
<button type="button" disabled="true" class="copy"><i class="fa fa-copy fa-lg"></i></button>
<button type="button" disabled="true" class="paste"><i class="fa fa-paste fa-lg"></i></button>-->
<span class="count {{#unless count}}muted{{/unless}}">{{count}}</span>