<section class="sidebar">
    <button type="button" title="Hide Toolbars" class="hide-tools"><i class="fa fa-arrow-left fa-2x"></i></button>
    <div class="toggles">
        <button type="button" title="Toggle Toolbox" class="toggle-toolbox"><i class="fa fa-plus-square fa-2x"></i></button>
        <button type="button" title="Toggle Block View" class="toggle-block-editor"><i class="fa fa-th-large fa-2x"></i></button>
        <button type="button" title="Toggle Properties" class="toggle-properties"><i class="fa fa-table fa-2x"></i></button>
    </div>
    <div class="amendments">
    </div>
    <div class="footer">
        <button type="button" title="Pin Toolbars" class="toggle-pin-toolbars"><i class="fa fa-thumb-tack fa-lg"></i></button>
    </div>
</section>
<section class="toolbars">
    <div class="toolbar toolbox cols-3 hidden">
    </div>
    <div class="toolbar block-editor hidden">
    </div>
    <div class="toolbar properties hidden">
    </div>
</section>
<section class="preview"></section>
<button type="button" title="Show Toolbars" class="show-tools hidden"><i class="fa fa-wrench fa-2x"></i></button>
