
@import "utility";

button {
    outline: none;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
    @include transition(all 200ms);

	&.hidden {
		visibility: hidden;
	}
}

::-webkit-scrollbar {
//    height: 10;
    width: 9px;
    background: #666;
}

::-webkit-scrollbar-thumb {
    background: #555;
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-corner {
//    background: #000;
}
