
@mixin font-size ($value) {
    $default-em-in-px: 16;

    font-size: #{$value}px;
    font-size: #{$value/$default-em-in-px}rem;
}

@mixin transition ($value) {
    -webkit-transition: $value;
    transition: $value;
}