
@import "../utility";

form.modal {
    position: fixed;
    top: 25%;
    left: 30%;
	width: 40%; 
    width: 830px;
    min-width: 200px;
    min-height: 200px;
    z-index: 2000;
    display: block;
    border-radius: 4px;
    overflow: hidden; 
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

    div.chrome {
		height: 32px;
        padding: 10px 15px;
		border-bottom: 1px solid #bbb;
        background-color: #ddd;
		color: #333;
		position: relative;
		z-index: 1;
    }

	div.content {
		height: 100%;
		padding: 0;
        background-color: #eee;
		position: relative;
		overflow: auto;
        padding: 32px 0 60px 0;
        margin: -32px 0 -60px 0;	
    }

    div.controls {
		height: 60px;
        padding: 15px;
		border-top: 1px solid #bbb; 
        background-color: #ddd;
		position: relative;

		button, 
		input[type=submit] {
			height: 28px;
            min-width: 60px;
			float: right;
            outline: none;
            padding: 0 10px;		
			vertical-align: middle;
            transition: all 150ms;

            background: transparent;
            border: 2px solid #bbb;
            color: #333;

			&:hover {
				color: #000;
				border: 2px solid #999;
			}
		}

        input[type=submit] {
            background-color: #eee;

//			&:hover {
//                background-color: #ccc;
//			}
        }

        input[type=submit] + button, 
			input[type=submit] + input[type=submit],
			button + button,
			button + input[type=submit] {
            margin-right: 10px; 
        }

        &:after {
            content: ' ';
            display: table;
            clear: both; 
        }
    }

	.ui-resizable-se {
	    position: absolute;
        bottom: 0;
        right: 0;
        height: 12px;
        width: 12px;
		cursor: se-resize;

		&:after {
            position: absolute;
            content: '';
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #999;
            top: 0;
            left: 0;
            height: 6px;
            width: 6px;
        }
    }

	.ui-resizable-e {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 6px;
        width: 6px;
        cursor: e-resize;
    }

	.ui-resizable-s {
	    position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
		height: 6px;
		cursor: s-resize;
	}
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
	background-color: rgba(254,254,254,0.1);
}
