/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input, button {
  font-family: sans-serif;
  font-size: 12px;
  font-size: 0.75rem; }

* {
  box-sizing: border-box; }

button {
  outline: none;
  display: block;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  button.hidden {
    visibility: hidden; }

html, body {
  height: 100%; }

.sidebar, .toolbars, .preview {
  position: absolute;
  top: 0;
  bottom: 0; }

.sidebar {
  left: 0;
  padding-top: 4px;
  width: 60px;
  background-color: #333;
  z-index: 101;
  -webkit-transition: all 150ms;
  transition: all 150ms; }
  .sidebar button {
    font-size: 14px;
    font-size: 0.875rem; }
  .sidebar.hidden {
    transform: translateX(-100%); }
  .sidebar button.hide-tools {
    padding: 8px 0 4px 0;
    width: 100%;
    color: #eee;
    background-color: transparent; }
    .sidebar button.hide-tools:hover {
      color: #fff; }
  .sidebar .primary {
    padding: 8px 0; }
    .sidebar .primary button {
      border-radius: 4px;
      color: #eee;
      background-color: #789;
      width: 44px;
      height: 44px;
      margin: 0 auto;
      padding: 0; }
      .sidebar .primary button:hover {
        color: #fff;
        background-color: #9fabb7; }
      .sidebar .primary button.selected {
        color: #eee;
        background-color: #20b2aa; }
        .sidebar .primary button.selected:hover {
          color: #fff;
          background-color: #62c9c3; }
      .sidebar .primary button + button {
        margin-top: 8px; }
  .sidebar .secondary button {
    padding: 18px  0;
    color: #eee;
    background-color: #333;
    width: 100%; }
    .sidebar .secondary button:hover {
      color: #fff;
      background-color: #555; }

.toolbars {
  left: 60px;
  z-index: 101;
  overflow: hidden;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  font-size: 11px;
  font-size: 0.6875rem; }
  .toolbars input, .toolbars button {
    font-size: 11px;
    font-size: 0.6875rem; }
  .toolbars.hidden {
    left: 0; }
    .toolbars.hidden .toolbar.toolbar {
      width: 0; }
  .toolbars .toolbox div.content {
    padding: 10px; }
    .toolbars .toolbox div.content span.category {
      padding: 10px;
      color: #eee;
      display: block;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 10px; }
      .toolbars .toolbox div.content span.category i {
        float: right;
        -webkit-transition: all 250ms;
        transition: all 250ms; }
      .toolbars .toolbox div.content span.category.collapsed i {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=0-sin(-90), M21=sin(-90), M22=cos(-90));
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=0-sin(-90), M21=sin(-90), M22=cos(-90))";
        zoom: 1; }
    .toolbars .toolbox div.content div {
      overflow: hidden; }
      .toolbars .toolbox div.content div button {
        display: inline-block;
        height: 70px;
        float: left;
        padding: 2px;
        background-color: transparent; }
        .toolbars .toolbox div.content div button span {
          color: #eee;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          overflow: hidden;
          -webkit-transition: all 100ms;
          transition: all 100ms;
          background-color: #555;
          height: 100%;
          width: 100%;
          padding: 2px;
          border: 2px solid transparent;
          border-radius: 2px; }
        .toolbars .toolbox div.content div button:hover {
          color: #fff; }
          .toolbars .toolbox div.content div button:hover span {
            border: 2px solid #ccc; }
          .toolbars .toolbox div.content div button:hover.atom span {
            background-color: rgba(178, 32, 40, 0.5); }
          .toolbars .toolbox div.content div button:hover.container span {
            background-color: rgba(32, 113, 178, 0.5); }
          .toolbars .toolbox div.content div button:hover.widget span {
            background-color: rgba(178, 97, 32, 0.5); }
  .toolbars .toolbox.cols-2 {
    width: 168px; }
    .toolbars .toolbox.cols-2 div.content button {
      width: 50%; }
  .toolbars .toolbox.cols-3 {
    width: 242px; }
    .toolbars .toolbox.cols-3 div.content button {
      width: 33.33333%; }
  .toolbars .toolbox.cols-4 {
    width: 316px; }
    .toolbars .toolbox.cols-4 div.content button {
      width: 25%; }
  .toolbars .toolbox.cols-5 {
    width: 390px; }
    .toolbars .toolbox.cols-5 div.content button {
      width: 20%; }
  .toolbars .block-editor {
    width: 300px; }
    .toolbars .block-editor div.content {
      padding: 10px;
      color: #eee; }
      .toolbars .block-editor div.content ol {
        min-height: 29px; }
        .toolbars .block-editor div.content ol li {
          border: 1px solid #ccc;
          background-color: rgba(102, 102, 102, 0);
          -webkit-transition: background-color 100ms;
          transition: background-color 100ms; }
          .toolbars .block-editor div.content ol li span {
            display: block;
            padding: 8px; }
          .toolbars .block-editor div.content ol li.container > span, .toolbars .block-editor div.content ol li.widget > span, .toolbars .block-editor div.content ol li.area > span {
            border-bottom: 1px solid #ccc; }
          .toolbars .block-editor div.content ol li + li {
            margin-top: 8px; }
          .toolbars .block-editor div.content ol li.highlighted:not(.selected) {
            background-color: rgba(104, 104, 104, 0.8);
            border-color: #fff;
            color: #fff; }
          .toolbars .block-editor div.content ol li.selected {
            border-color: #fff;
            color: #fff; }
            .toolbars .block-editor div.content ol li.selected.atom {
              background-color: rgba(178, 32, 40, 0.5); }
            .toolbars .block-editor div.content ol li.selected.container {
              background-color: rgba(32, 113, 178, 0.5); }
            .toolbars .block-editor div.content ol li.selected.widget {
              background-color: rgba(178, 97, 32, 0.5); }
          .toolbars .block-editor div.content ol li ol {
            padding: 8px; }
          .toolbars .block-editor div.content ol li.new {
            padding: 8px;
            border: 1px dashed #ccc;
            background-color: rgba(204, 204, 204, 0.8);
            min-height: 29px; }
        .toolbars .block-editor div.content ol.components > li {
          cursor: pointer; }
  .toolbars .properties {
    width: 160px; }
  .toolbars .toolbar {
    float: left;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    overflow: hidden;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    border-left: 1px solid rgba(102, 102, 102, 0.5);
    position: relative; }
    .toolbars .toolbar .content {
      position: absolute;
      top: 0;
      bottom: 60px;
      left: 0;
      right: 0;
      overflow-y: auto; }
    .toolbars .toolbar .footer {
      padding: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60px;
      border-top: 2px solid #333;
      background-color: rgba(51, 51, 51, 0.8); }
      .toolbars .toolbar .footer button {
        color: #999;
        float: right;
        height: 36px;
        width: 36px;
        border: 2px solid transparent;
        background-color: transparent;
        -webkit-transition: all 100ms;
        transition: all 100ms; }
        .toolbars .toolbar .footer button:hover {
          color: #fff;
          border: 2px solid #999; }
    .toolbars .toolbar.hidden.hidden {
      width: 0;
      border-left-width: 0; }
  .toolbars ::-webkit-scrollbar {
    width: 9px;
    background: #666; }
  .toolbars ::-webkit-scrollbar-thumb {
    background: #555;
    -webkit-border-radius: 5px; }

.preview {
  left: 60px;
  right: 0; }
  .preview iframe {
    position: absolute;
    height: 100%;
    width: 100%; }
  .preview.fullscreen {
    left: 0; }

button.show-tools {
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #444;
  color: #eee;
  opacity: 0.2;
  z-index: 100;
  font-size: 14px;
  font-size: 0.875rem; }
  button.show-tools:hover {
    opacity: 0.8; }

