/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  font-size: 12px;
  font-size: 0.75rem; }

* {
  box-sizing: border-box; }

button {
  outline: none;
  display: block;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  button.hidden {
    visibility: hidden; }

html, body {
  height: 100%; }

.sidebar, .toolbars, .preview {
  position: absolute;
  top: 0;
  bottom: 0; }

.sidebar {
  left: 0;
  padding-top: 4px;
  width: 60px;
  background-color: #333;
  z-index: 101;
  -webkit-transition: all 150ms;
  transition: all 150ms; }
  .sidebar.hidden {
    transform: translateX(-100%); }
  .sidebar button.hide-tools {
    padding: 8px 0 4px 0;
    width: 100%;
    color: #eee;
    background-color: transparent; }
    .sidebar button.hide-tools:hover {
      color: #fff; }
  .sidebar .primary {
    padding: 8px; }
    .sidebar .primary button {
      padding: 8px 5px;
      border-radius: 4px;
      color: #eee;
      background-color: #789; }
      .sidebar .primary button:hover {
        color: #fff;
        background-color: #9fabb7; }
      .sidebar .primary button.selected {
        color: #eee;
        background-color: #20b2aa; }
        .sidebar .primary button.selected:hover {
          color: #fff;
          background-color: #62c9c3; }
      .sidebar .primary button + button {
        margin-top: 8px; }
  .sidebar .secondary button {
    padding: 18px  0;
    color: #eee;
    background-color: #333;
    width: 100%; }
    .sidebar .secondary button:hover {
      color: #fff;
      background-color: #555; }

.toolbars {
  left: 60px;
  z-index: 101;
  overflow: hidden;
  -webkit-transition: all 150ms;
  transition: all 150ms; }
  .toolbars.hidden {
    left: 0; }
    .toolbars.hidden .toolbar.toolbar {
      width: 0; }
  .toolbars .toolbox div.content {
    padding: 10px; }
    .toolbars .toolbox div.content span {
      padding: 10px;
      color: #eee;
      display: block;
      text-transform: uppercase;
      cursor: pointer; }
      .toolbars .toolbox div.content span i {
        float: right;
        -webkit-transition: all 250ms;
        transition: all 250ms; }
      .toolbars .toolbox div.content span.collapsed i {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=0-sin(-90), M21=sin(-90), M22=cos(-90));
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=0-sin(-90), M21=sin(-90), M22=cos(-90))";
        zoom: 1; }
      .toolbars .toolbox div.content span.collapsed + div {
        max-height: 0; }
    .toolbars .toolbox div.content div:not(.footer) {
      overflow: hidden;
      max-height: 100%;
      -webkit-transition: all 500ms;
      transition: all 500ms; }
      .toolbars .toolbox div.content div:not(.footer) button {
        display: inline-block;
        height: 70px;
        width: 70px;
        float: left;
        color: #eee;
        font-size: 0.9em;
        vertical-align: middle;
        background-color: #555;
        margin: 2px;
        border: 2px solid transparent;
        border-radius: 2px;
        -webkit-transition: all 100ms;
        transition: all 100ms; }
        .toolbars .toolbox div.content div:not(.footer) button.atom:hover {
          background-color: rgba(178, 32, 40, 0.5); }
        .toolbars .toolbox div.content div:not(.footer) button.container:hover {
          background-color: rgba(32, 113, 178, 0.5); }
        .toolbars .toolbox div.content div:not(.footer) button.widget:hover {
          background-color: rgba(178, 97, 32, 0.5); }
        .toolbars .toolbox div.content div:not(.footer) button:hover {
          color: #fff; }
  .toolbars .toolbox.cols-2 {
    width: 168px; }
    .toolbars .toolbox.cols-2 div.content div {
      width: 164px; }
  .toolbars .toolbox.cols-3 {
    width: 242px; }
    .toolbars .toolbox.cols-3 div.content div {
      width: 236px; }
  .toolbars .toolbox.cols-4 {
    width: 316px; }
    .toolbars .toolbox.cols-4 div.content div {
      width: 308px; }
  .toolbars .toolbox.cols-5 {
    width: 390px; }
    .toolbars .toolbox.cols-5 div.content div {
      width: 380px; }
  .toolbars .block-editor {
    width: 240px; }
  .toolbars .properties {
    width: 160px; }
  .toolbars .toolbar {
    float: left;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    overflow: hidden;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    border-left: 1px solid rgba(102, 102, 102, 0.5);
    position: relative; }
    .toolbars .toolbar.hidden {
      width: 0;
      border-left-width: 0; }
    .toolbars .toolbar .footer {
      padding: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 2px solid #333; }
      .toolbars .toolbar .footer button {
        color: #999;
        float: right;
        height: 36px;
        width: 36px;
        border: 2px solid transparent;
        background-color: transparent;
        -webkit-transition: all 100ms;
        transition: all 100ms; }
        .toolbars .toolbar .footer button:hover {
          color: #fff;
          border: 2px solid #999; }

.preview {
  left: 60px;
  right: 0; }
  .preview iframe {
    position: absolute;
    height: 100%;
    width: 100%; }
  .preview.fullscreen {
    left: 0; }

button.show-tools {
  padding: 8px 5px;
  border-radius: 4px;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #444;
  color: #eee;
  opacity: 0.2;
  z-index: 100; }
  button.show-tools:hover {
    opacity: 0.8; }

