
body {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.application {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

    .sidebar {
        position: relative;
        height: 100%;
        width: 50px;
        background-color: #333;
        color: #eee;
        float: left;
        z-index: 200;

        .primary {
            padding: 5px;

            button {
                border: none;
                color: #eee;
                background-color: #666;
                width: 40px;
                height: 40px;
                border-radius: 4px;
                outline: none;

                & + button {
                    margin-top: 8px;
                }

                &.selected {
                    background-color: #20b2aa;
                }
            }
        }

        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px 0;

            button {	
                display: block;
                outline: none;
                border: 2px solid transparent;
                background-color: transparent;
                padding: 6px 10px;
                margin: 0 auto;
                color: #aaa;
				
                &:hover {
                    border: 2px solid #666;
                }

                &.selected {
                    background-color: #555;
                    color: #ccc;
                }
            }
        }

    }

    .toolbars {
        height: 100%;
        position: absolute;
        float: left;
        margin-left: 50px;

        &.pinned {
            position: relative;
            margin-left: 0;
        }

        .toolbar {
            height: 100%;
            background-color: rgba(104, 104, 104, 0.8);
            color: #eee;
            border-left: 1px solid #aaa;
            transition: width 100ms;
            overflow: hidden;
            width: 200px;
            text-align: center;
            z-index: 100;

            position: relative;
            float: left;

            &.hidden {
                width: 0;
                border-left: 0;
            }

        }
    }

    .preview {
	    position: relative;
	    height: 100%;
		overflow: hidden;

		iframe {
	        height: 100%;
	        width: 100%;
			border: none;
		}
    }
}