<div id="edit-template">
    <div id="toolbox">
    </div>
    <div id="wysiwyg-editor">
    </div>
    <div id="sidebar">
        <div id="amendments">
        </div>
        <div id="tabs" class="tabbed horizontal tab-style-classic fixed-size">
            <div class="tab-contents">
                <div id="block-editor">
                </div>
                <div id="properties">
                </div>
            </div>
            <ul class="tab-labels">
                <li><a href="#block-editor">Block Editor</a></li>
                <li><a href="#properties">Properties</a></li>
            </ul>
        </div>
    </div>
</div>
