<button type="button" class="hide-tools"><i class="fa fa-arrow-left fa-2x"></i></button>
<div class="primary">
    <button type="button" class="toggle-toolbox"><i class="fa fa-plus-square fa-2x"></i></button>
    <button type="button" class="toggle-block-editor"><i class="fa fa-th-large fa-2x"></i></button>
    <button type="button" class="toggle-properties"><i class="fa fa-table fa-2x"></i></button>
</div>
<div class="secondary">
    <button type="button" class="undo"><i class="fa fa-undo fa-lg"></i></button>
    <button type="button" class="cut"><i class="fa fa-cut fa-lg"></i></button>
    <button type="button" class="copy"><i class="fa fa-copy fa-lg"></i></button>
    <button type="button" class="paste"><i class="fa fa-paste fa-lg"></i></button>
</div>
<div class="footer">
    <button type="button" class="toggle-pin-toolbars"><i class="fa fa-thumb-tack fa-lg"></i></button>
</div>

<!--<div id="edit-template">
    <div id="toolbox">
    </div>
    <div id="wysiwyg-editor">
    </div>
    <div id="sidebar">
        <div id="amendments">
        </div>
        <div id="tabs" class="tabbed horizontal tab-style-classic fixed-size">
            <div class="tab-contents">
                <div id="block-editor">
                </div>
                <div id="properties">
                </div>
            </div>
            <ul class="tab-labels">
                <li><a href="#block-editor">Block Editor</a></li>
                <li><a href="#properties">Properties</a></li>
            </ul>
        </div>
    </div>
</div>
-->