@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Nancy.Models.ApplicationModel>
@using Kola.Nancy.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>Kola CMS</title>
    <link type="text/css" rel="stylesheet" href="/_kola/content/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/_kola/content/kola.min.css" />
    @foreach (var stylesheet in Model.EditorStylesheets)
    {
    <link type="text/css" rel="stylesheet" href="@stylesheet" />
    }
</head>
<body>
    <section id="app" class="application"></section>
    <script type="text/javascript" src="/_kola/scripts/kola.plugins.js"></script>
    @foreach (var plugin in Model.EditorScripts)
    {
    <script type="text/javascript" src="@plugin"></script>
    }
    <script type="text/javascript" src="/_kola/scripts/kola.js"></script>
</body>
</html>
