@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Nancy.Models.ApplicationModel>
@using Kola.Nancy.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>Kola CMS</title>
    <link type="text/css" rel="stylesheet" href="/_kola/Content/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/_kola/Content/kola.css" />
    @foreach (var stylesheet in Model.EditorStylesheets)
    {
    <link type="text/css" rel="stylesheet" href="@stylesheet" />
    }
</head>
<body>
    <section id="app" class="application"></section>
    <script type="text/javascript" src="/_kola/Scripts/kola.js"></script>
    <script type="text/javascript">
        @*define('propertyEditors', function () {
            return @Html.Raw(this.Model.PropertyEditors);
        });*@
    </script>
</body>
</html>
