@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.ContainerInstance>
@using Kola.Nancy.Extensions              
<h1>Container 2 start...</h1>
@Html.RenderComponents(Model.Children)
<h1>...container 2 end</h1>