@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Domain.Instances.ContainerInstance>
@using Kola.Nancy.Extensions              
<div class="container2">
    <h1>Container 2 start...</h1>
    @Html.RenderComponents(Model.Components)
    <h1>...container 2 end</h1>
</div>