#properties table.grid-settings {
  border: none;
  border-radius: 0;
  width: 100%; }
  #properties table.grid-settings tr + tr {
    border: none;
    border-top: 1px solid #ccc; }
  #properties table.grid-settings tr td {
    border: none;
    padding: 3px; }
    #properties table.grid-settings tr td:first-child {
      text-align: center;
      background-color: #eee;
      border-right: 1px solid #ccc;
      width: 20px; }
#properties table.inner-properties {
  margin: -3px;
  border: none;
  border-radius: 0;
  width: 100%; }
  #properties table.inner-properties tr + tr {
    border: none;
    border-top: 1px solid #ccc; }
  #properties table.inner-properties tr td {
    border: none;
    padding: 3px; }
    #properties table.inner-properties tr td:first-child {
      width: 30%;
      text-align: left;
      background-color: #fff;
      border-right: 1px solid #ccc; }
#properties .clear:after {
  content: " ";
  display: table;
  clear: both; }
#properties .grid-name-f:after {
  content: "Full"; }
#properties .grid-name-x:after {
  content: "X-Large"; }
#properties .grid-name-d:after {
  content: "Desktop"; }
#properties .grid-name-t:after {
  content: "Tablet"; }
#properties .grid-name-p:after {
  content: "Phablet"; }
#properties .grid-name-m:after {
  content: "Mobile"; }
#properties .grid-name-u:after {
  content: "Micro"; }
#properties .tabbed ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left; }
  #properties .tabbed ul.tabs li {
    display: block; }
    #properties .tabbed ul.tabs li + li {
      margin-top: 3px; }
#properties .tabbed .tab-contents {
  float: left;
  padding-left: 20px; }
  #properties .tabbed .tab-contents > * {
    display: none;
    margin-left: 10px; }
  #properties .tabbed .tab-contents > .selected {
    display: block; }
#properties .tabbed.horizontal-tabs ul.tabs {
  float: none; }
  #properties .tabbed.horizontal-tabs ul.tabs li {
    float: left; }
    #properties .tabbed.horizontal-tabs ul.tabs li + li {
      margin-top: 0;
      margin-left: 3px; }
  #properties .tabbed.horizontal-tabs ul.tabs:after {
    content: " ";
    display: table;
    clear: both; }
#properties .tabbed.horizontal-tabs .tab-contents > * {
  margin-left: 0;
  margin-top: 10px;
  float: none; }
#properties .tabbed:after {
  content: " ";
  display: table;
  clear: both; }
#properties .toggle-switch {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #f0efec;
  color: #333333;
  border-radius: 5px;
  cursor: pointer; }
  #properties .toggle-switch.button {
    display: inline-block; }
  #properties .toggle-switch.selected {
    background-color: #8a8681;
    color: white; }
  #properties .toggle-switch.green {
    background-color: #c2dcd2; }
    #properties .toggle-switch.green.selected {
      background-color: #52a58a; }
  #properties .toggle-switch.blue {
    background-color: #bde0f7; }
    #properties .toggle-switch.blue.selected {
      background-color: #38a3db; }
  #properties .toggle-switch.red {
    background-color: #f4bab5; }
    #properties .toggle-switch.red.selected {
      background-color: #df505c; }
#properties .value.grid-placement table.edit {
  border: none; }
  #properties .value.grid-placement table.edit td {
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    border: 2px solid white; }
    #properties .value.grid-placement table.edit td.grid {
      width: 26px;
      background-color: #eee;
      color: #333; }
    #properties .value.grid-placement table.edit td.column {
      width: 26px;
      background-color: #ccc;
      color: #fff; }
    #properties .value.grid-placement table.edit td.column.selected {
      background-color: #666; }
    #properties .value.grid-placement table.edit td.shown {
      width: 26px;
      background-color: #c2f2c2; }
    #properties .value.grid-placement table.edit td.shown.selected {
      background-color: #28bf28;
      color: #fff; }
    #properties .value.grid-placement table.edit td.hidden {
      width: 26px;
      background-color: #f2c2d0; }
    #properties .value.grid-placement table.edit td.hidden.selected {
      background-color: #ff5284;
      color: #fff; }
#properties .value.triangle table.edit {
  border: none; }
  #properties .value.triangle table.edit td {
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    border: 2px solid white; }
    #properties .value.triangle table.edit td.grid {
      width: 26px;
      background-color: #eee;
      color: #333; }
    #properties .value.triangle table.edit td.edge {
      width: 26px;
      background-color: #ccc;
      color: #fff; }
    #properties .value.triangle table.edit td.edge.selected {
      background-color: #666; }
    #properties .value.triangle table.edit td.centred {
      width: 26px;
      background-color: #c2f2c2; }
    #properties .value.triangle table.edit td.centred.selected {
      background-color: #28bf28;
      color: #fff; }
#properties .value.triangle .holder {
  float: left;
  padding: 20px 20px 20px 0; }
  #properties .value.triangle .holder + .holder {
    padding: 20px; }
  #properties .value.triangle .holder .triangle {
    display: block;
    position: relative;
    height: 100px;
    width: 100px; }
    #properties .value.triangle .holder .triangle.top:before, #properties .value.triangle .holder .triangle.left:before, #properties .value.triangle .holder .triangle.bottom:after, #properties .value.triangle .holder .triangle.right:after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      border-width: 14px 14px 14px 14px; }
    #properties .value.triangle .holder .triangle.top:before {
      top: -27px;
      border-color: transparent transparent #bde0f7 transparent; }
    #properties .value.triangle .holder .triangle.top.selected:before {
      border-color: transparent transparent #38a3db transparent; }
    #properties .value.triangle .holder .triangle.top.centred:before {
      left: 50%;
      margin: 0 0 0 -14px; }
    #properties .value.triangle .holder .triangle.left:before {
      left: -27px;
      border-color: transparent #bde0f7 transparent transparent; }
    #properties .value.triangle .holder .triangle.left.selected:before {
      border-color: transparent #38a3db transparent transparent; }
    #properties .value.triangle .holder .triangle.left.centred:before {
      top: 50%;
      margin: -14px 0 0 0; }
    #properties .value.triangle .holder .triangle.bottom:after {
      bottom: -27px;
      border-color: #bde0f7 transparent transparent transparent; }
    #properties .value.triangle .holder .triangle.bottom.selected:after {
      border-color: #38a3db transparent transparent transparent; }
    #properties .value.triangle .holder .triangle.bottom.centred:after {
      left: 50%;
      margin: 0 0 0 -14px; }
    #properties .value.triangle .holder .triangle.right:after {
      right: -27px;
      border-color: transparent transparent transparent #bde0f7; }
    #properties .value.triangle .holder .triangle.right.selected:after {
      border-color: transparent transparent transparent #38a3db; }
    #properties .value.triangle .holder .triangle.right.centred:after {
      top: 50%;
      margin: -14px 0 0 0; }

