body {
    margin: 0;
    padding: 0;
}

.transition-all {
    transition: all 100ms;
}

div, section, button, a, li, ul {
    box-sizing: border-box;
}

button {
    outline: none;
}

.smaller-scrollbars div::-webkit-scrollbar {
    height: 9px;
    width: 9px;
    background: #888;
}

.smaller-scrollbars div::-webkit-scrollbar-thumb {
    background: #666;
    -webkit-border-radius: 5px;
}
