<div id='topMask'    style='position: absolute; background: rgba(0, 0, 0, 0.1); pointer-events: none; z-index: 999999; top: 0; right: 0; left: 0'></div>
<div id='bottomMask' style='position: absolute; background: rgba(0, 0, 0, 0.1); pointer-events: none; z-index: 999999; right: 0; left: 0'></div>
<div id='leftMask'   style='position: absolute; background: rgba(0, 0, 0, 0.1); pointer-events: none; z-index: 999999; top: 0; left: 0'></div>
<div id='rightMask'  style='position: absolute; background: rgba(0, 0, 0, 0.1); pointer-events: none; z-index: 999999; top: 0; right: 0'></div>
