@mixin border-radius() {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;		
}

#toolbox {
    margin: 20px;
    padding: 0;
    border: 3px #575 solid;
	@include border-radius();

	ul {
		margin: 0;
	    padding: 15px;
	    list-style-type: none;
		overflow: auto;
		background-color: #efe;
		@include border-radius();

		li {
            float: left;
			padding: 10px;
		    border: 3px #575 solid;
			background-color: #fff;
			font-weight: bold;
			color: #575;
			@include border-radius();
		}

		li + li {
			margin-left: 10px
		}
	}
}

#blockEditor {
    margin: 20px;
    padding: 0;
    border: 3px #557 solid;
	@include border-radius();

	ul {
		margin: 0;
	    padding: 15px;
	    list-style-type: none;
		overflow: auto;
		background-color: #ccd;
		@include border-radius();

		ul {
			margin-top: 10px;
		    border: 3px #557 solid;
		}

		li {
			padding: 10px 15px;
		    border: 3px #557 solid;
			background-color: #eef;
			font-weight: bold;
			color: #557;
			@include border-radius();

			&.new {
                background-color: #fff;
				border: 3px #557 dotted;
			}		
		}

        li + li {
			margin-top: 10px
		}
	}
}