
#toolbox {
    margin: 20px;
    border: 2px black solid;
    padding: 20px;

	ul {
		margin: 0;
	}
}

#structureEditor {
    margin: 20px;
    border: 2px black solid;
    padding: 20px;
	height: 200px;

	&.active {
		background-color: #ddf;
	}

	&.hover {
		background-color: #ccf;
	}
}

li.component {
    display: inline-block;
    border: 1px black solid;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ddd;
    margin-right: 10px;
}