#toolbox {
  margin: 20px;
  padding: 0;
  border: 2px #333 solid; }
  #toolbox ul {
    margin: 0;
    padding: 15px;
    list-style-type: none;
    overflow: auto;
    background-color: #cdc; }
    #toolbox ul li {
      float: left;
      padding: 10px;
      border: 1px #333 solid;
      background-color: #efe; }
    #toolbox ul li + li {
      margin-left: 10px; }

#blockEditor {
  margin: 20px;
  padding: 0;
  border: 2px black solid; }
  #blockEditor ul {
    margin: 0;
    padding: 15px;
    list-style-type: none;
    overflow: auto;
    background-color: #ccd; }
    #blockEditor ul ul {
      margin-top: 10px;
      border: 1px #333 solid; }
    #blockEditor ul li {
      padding: 10px 15px 15px 15px;
      border: 1px #333 solid;
      background-color: #eef; }
      #blockEditor ul li.new {
        background-color: #fff;
        border: 1px dashed #333; }
    #blockEditor ul li + li {
      margin-top: 10px; }

