
#toolbox {
    margin: 20px;
    padding: 0;
    border: 2px #333 solid;

	ul {
		margin: 0;
	    padding: 15px;
	    list-style-type: none;
		overflow: auto;
		background-color: #cdc;

		li {
            float: left;
			padding: 10px;
		    border: 1px #333 solid;
			background-color: #efe;
		}

		li + li {
			margin-left: 10px
		}
	}
}

#blockEditor {
    margin: 20px;
    padding: 0;
    border: 2px black solid;

	ul {
		margin: 0;
	    padding: 15px;
	    list-style-type: none;
		overflow: auto;
		background-color: #ccd;

		ul {
			margin-top: 10px;
		    border: 1px #333 solid;
		}

		li {
			padding: 10px 15px 15px 15px;
		    border: 1px #333 solid;
			background-color: #eef;

			&.new {
                background-color: #fff;
                border: 1px dashed #333;
			}		
		}

        li + li {
			margin-top: 10px
		}
	}
}