body {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: sans-serif;
}

.transition-all {
    transition: all 100ms;
}

.transition-all-250 {
    transition: all 250ms;
}

.transition-all-500 {
    transition: all 500ms;
}

div, section, button, a, li, ul, span, textarea, input {
    box-sizing: border-box;
}

button {
    outline: none;
}

.smaller-scrollbars div::-webkit-scrollbar {
    height: 9px;
    width: 9px;
    background: #888;
}

.smaller-scrollbars div::-webkit-scrollbar-thumb {
    background: #666;
    -webkit-border-radius: 5px;
}
