
@import "../utility";

.properties {
    width: 250px;

    div.content {
        padding: 2px 0;

        .filter-unset {
            .property.unset{
                display: none;
            }
        }

        .property {
            padding: 10px 10px 0 10px;
            margin: 8px;
            border-radius: 4px;

            &.editMode {
                padding: 10px;
                background-color: #777;
                cursor: default;
            }

            .chrome {
                cursor: pointer;

                .name {
                    text-transform: capitalize;
                    line-height: 16px;
                }

                .propertyValueType {
                    float: right;
                }

                span.propertyValueType {
                    padding: 3px 6px;
                    background-color: #666;
                    color: #ccc;
                    border-radius: 2px;
                    font-family: monospace;
                    font-size: 10px;
                }
            }

            .value {
                margin-top: 6px;
                clear: both;
                cursor: pointer;

                & > span,
                & > label {
                    display: block;
                    color: #333;
                    background-color: #ddd;
                    padding: 9px 8px 7px 8px;
                    min-height: 28px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                @import "property-table";

                form {
                    & > input,
                    & > select,
                    & > textarea,
                    & > span {
                        display: block;
                        color: #333;
                    }

                    & > input,
                    & > textarea {
                        padding: 8px;
                    }

                    & > select {
                        padding: 0 4px;
                        min-height: 28px;
                    }

                    & > span {
                        background-color: #ddd;
                        padding: 9px 8px 7px 8px;
                        min-height: 28px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    & > input,
                    & > select,
                    & > textarea {
                        border: none;
                        outline: none;
                        width: 100%;
                        background-color: #fff;
                    }

                    @import "modal";
                }
            }

            button.reset {
                background-color: #ccc;
                border-radius: 2px;
                margin-top: 8px;
                padding: 2px 6px;
                @include transition(background-color 75ms);

                &:hover {
                    background-color: #ddd;
                }
            }
        }

        .property-group {
            .items {
                padding: 0 0 10px 0;
                background-color: #555;
            }
        }

        /*.property + .property,
        .property + .property-group,
        .property-group + .property {
            margin-top: 4px;
        }*/
    }
}
