
@import "../utility";

.properties {
    width: 250px;

    div.content {
        padding: 2px 0;

        .property {
            padding: 10px;
            margin: 8px;
            border-radius: 4px;
            @include transition(background-color 75ms);

            .chrome {
                cursor: pointer;

                .name {
                    text-transform: capitalize;
                }

                .propertyValueType {
                    float: right;
                }

                span.propertyValueType {
                    padding: 3px 6px;
                    background-color: #666;
                    color: #ccc;
                    border-radius: 2px;
                    font-family: monospace;
                    font-size: 10px;
                }
            }

            .value {
                margin-top: 8px;
                clear: both;
                cursor: pointer;

                & > span,
                & > label {
                    display: block;
                    background-color: #ddd;
                    color: #333;
                    padding: 8px;
                    min-height: 28px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @include transition(background-color 150ms);
                }

                @import "property-table";

                form {
                    & > * {
                        display: block;
                        background-color: #ddd;
                        color: #333;
                        padding: 8px;
                        min-height: 28px;
                    }

                    & > input,
                    & > select,
                    & > textarea {
                        width: 100%;
                        background-color: #fff;
                        border: none;
                        outline: none;
                    }

                    & > span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    @import "modal";
                }
            }

            .controls {
                padding: 8px 0px;
                display: none;

                button {
                    float: right;
                    background-color: transparent;
                    color: #ddd;
                    padding: 2px;

                    &.submit {
                        color: #9e9;
                    }

                    &:hover {
                        color: #fff;
                    }

                    &:first-child {
                        margin-left: 4px;
                    }
                }
            }

            &.editMode {
                background-color: #777;
                cursor: default;

                .chrome {
                    .valueType {
                        button {
                            display: inline;
                        }
                    }
                }

                .controls {
                    display: block;
                }
            }
        }


        .property-group {
            .items {
                padding: 0 0 10px 0;
                background-color: #555;
            }
        }

        .property + .property,
        .property + .property-group,
        .property-group + .property {
            margin-top: 4px;
        }
    }
}
