
@import "../utility";

.properties {
    width: 250px;

    div.content {
        padding: 10px 0;

        .property {
            padding: 0 10px;

            .chrome {
                padding: 8px 0;

                .name {
                    text-transform: capitalize;
                }

                .valueType {
                    float: right;
                    position: relative;

                    .currentValue {
                        padding: 2px 6px;
                        margin-right: 10px;
                        background-color: #666;
                        color: #ccc;
                        border-radius: 2px;
                        font-family: monospace;
                        font-size: 10px;
                    }

                    button {
                        display: inline;
                        background-color: transparent;
                        color: #eee;
                        padding: 0;
                    }


                    div.dropdown {
                        position: absolute;
                        display: none;
                        right: 0;
                        top: 15px;
                        width: 100px;
                        border: 1px #ccc solid;
                        margin-top: 5px;
                        z-index: 10;

                        &.expanded {
                            display: block;
                        }

                        span {
                            display: block;
                            padding: 4px 6px;
                            cursor: pointer;

                            &.selected {
                                background-color: #ddd;
                                color: #333;
                            }

                            &:hover {
                                background-color: #fff;
                                color: #333;
                            }
                        }
                    }
                }
            }


            &.unset {
                .value {
                    display: none;
                }
            }

            .value {
                clear: both;

                & > span,
                & > label {
                    display: block;
                    background-color: #ddd;
                    color: #333;
                    padding: 8px;
                    cursor: pointer;
                    min-height: 28px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @include transition(background-color 150ms);

                    &:hover {
                        background-color: #eee;
                    }
                }

                table {
                    padding: 0;
                    width: 100%;
                    display: table;
                    min-height: 28px;
                    background-color: #ddd;
                    color: #333;
                    cursor: pointer;
                    @include transition(background-color 150ms);

                    :hover {
                        background-color: #eee;
                    }

                    tbody {
                        width: 100%;
                    }

                    &.responsive {
                        & > tbody {
                            & > tr {
                                & > td {
                                    &:not(.tabular) {
                                        padding: 8px;
                                    }

                                    &:first-child {
                                        width: 36px;
                                        background-color: #555;
                                        color: #eee;
                                        vertical-align: middle;
                                    }
                                }

                                & + tr {
                                    border-top: 3px solid #444;
                                }
                            }
                        }
                    }

                    &.composite {
                        & > tbody {
                            & > tr {
                                & > td {
                                    padding: 8px;

                                    &:first-child {
                                        width: 33%;
                                        background-color: #999;
                                        color: #eee;
                                        vertical-align: middle;
                                    }
                                }

                                & + tr {
                                    border-top: 1px solid #bbb;
                                }
                            }
                        }
                    }
                }

                form:not(.modal) {
                    & > * {
                        display: block;
                        background-color: #ddd;
                        color: #333;
                        padding: 8px;
                        min-height: 28px;
                    }

                    input, select, textarea {
                        width: 100%;
                        background-color: #fff;
                        border: none;
                        outline: none;
                    }
                }

                @import "modal";
            }
        }

        .property-group {
            .items {
                padding: 0 0 10px 0;
                background-color: #555;
            }
        }

        .property + .property,
        .property + .property-group,
        .property-group + .property {
            margin-top: 4px;
        }
    }
}
