@using Nancy.ViewEngines.Razor
@using Kola.Hosting.Nancy.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Kola.Model.Page>
<html>
<head>
<title>Kola test page</title>
</head>
<body>
<h1>The page</h1>
@Html.RenderPage(Model)
</body>
</html>
