@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Kola.Nancy.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap-responsive.min.css" />
</head>
<body>
    <div id="navigation"></div>
    <div class="container" id="content"></div>
    <script type="text/javascript" src="/Scripts/require.js" data-main="/Scripts/main"></script>
</body>
</html>
