@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Kola.Nancy.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>Kola CMS</title>
    <link type="text/css" rel="stylesheet" href="/_kola/Content/kola2.css" />
</head>
<body>
    <div id="navigation"></div>
    <div id="content"></div>
    <script type="text/javascript" src="/_kola/Scripts/require.js" data-main="/_kola/Scripts/main2"></script>
</body>
</html>
