$color-container: #ffecc0;
$color-container-light: #fff6df;
$color-container-strong: #ffe3a0;
$color-container-highlight: #ffbd21;

$color-atom: #c5eaf8;
$color-atom-light: #e2f4fb;
$color-atom-strong: #a8dff4;
$color-atom-highlight: #33b5e5;

$color-widget: #e2f0b6;
$color-widget-light: #f0f8db;
$color-widget-strong: #d3e992;
$color-widget-highlight: #99cc00;

$color-window-1: #fff;

$color-secondary-1: #eee;
$color-secondary-2: #ccc;
$color-secondary-3: #aaa;

$color-primary: #333;

$color-table-background: #fff;
$color-table-border: #ccc;
$color-table-highlight-1: #eee;

