@import "colours";

#properties {
	padding: 0 10px;

    table { 
        border-collapse: collapse;
        background: #fff;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 400px;

        td, th { 
	        padding: 3px 10px;
        }

	    tbody { 
		    td {
	            border-left: 1px solid $color-secondary-2-2;
	            border-bottom: 1px solid $color-secondary-2-2;
            }

			td:first-child { 
	            border-left: none;
				background-color: #eee;
            }

	        tr:last-child td { 
	            border-bottom: none;
            }
	    }
    }
}