
@import "colours";

#properties {
	padding: 0 10px;

    table { 
        border-collapse: collapse;
        background: #fff;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        td, th { 
	        padding: 3px 10px;
        }

	    tbody { 
		    td {
	            border-left: 1px solid $color-secondary-2-2;
	            border-bottom: 1px solid $color-secondary-2-2;

				&.name { 
                    width: 150px;
	                border-left: none;
				    background-color: #eee;
                }

				&.type { 
                }

				&.value { 
				    form {
                        width: 250px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

	        tr:last-child td { 
	            border-bottom: none;
            }
	    }
    }
}