@import "colours";

#toolbox {
    padding: 10px;

	ul {
	    margin: 0;
	    padding: 0;
        list-style-type: none;

	    li {
            float: left;
            display: block;
            width: 80px;
            height: 80px;
            background-color: #eee;
            text-align: center;
            padding: 5px;

			& + li {
                margin-left: 20px;
		    }
        }
    }
}
