@import "colours";

#block-editor {
    
    ul {
        margin: 0;
        padding: 15px;
		min-height: 40px;
        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
            border: 3px #557 solid;

            &.new {
                border: 3px #557 dotted;
                min-height: 40px;
            }		

            & + li {
			    margin-top: 10px
		    }

            &[data-type=toolbox-item] {
                border: 3px #755 solid;
            }
        }
    }

    .area {
        margin: 15px;
        padding: 0;
        border: 3px #557 solid;
        background-color : $color-complement-3;
    }

	.chrome {
		padding: 5px 15px;
	}

    .atom {
        background-color : $color-secondary-1-4;
    }

    .container {
        background-color : $color-secondary-2-3;

	    & > .chrome {
            border-bottom: 2px #557 solid;
            background-color : $color-secondary-2-4;
		}
    }

    .widget {
        background-color : $color-complement-3;

	    & > .chrome {
            border-bottom: 2px #557 solid;
            background-color : $color-complement-4;
		}
    }
}