@import "colours";

#edit-template {

    #toolbox {
        position: absolute;
        top: 0;
        height: 100px;
        left: 0;
        right: 0;
		background-color: $color-primary-1;
    }

	#wysiwyg-editor {
		position: absolute;
		top: 100px;
		left: 0;
		right: 25%;
		bottom: 100px;
	}

    #block-editor {
        position: absolute;
        top: 200px;
        left: 75%;
        right: 0;
        bottom: 100px;
		background-color: $color-primary-2;
		overflow: auto;
    }

    #amendments {
        position: absolute;
        top: 100px;
        height: 100px;
        left: 75%;
        right: 0;
		background-color: $color-primary-3;
    }

    #properties {
		position: absolute;
		height: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color-primary-4;
    }
}