
@import "../utility";

.properties {
	width: 250px;

    div.content {
        padding: 10px 0;

        .property {
			padding: 0 10px;

            .name {
				padding: 8px 0;
                display: block;
            }

            .value {
                display: block;
                background-color: #ddd;
                color: #333;
                padding: 8px;
            }

            input.value {
                width: 100%;
                background-color: #fff;
                border: none;
                outline: none;
            }

            select.value {
                width: 100%;
                background-color: #fff;
                border: none;
                outline: none;
            }

            textarea.value {
                width: 100%;
                background-color: #fff;
                border: none;
                outline: none;
            }

			table.value {
				padding: 0;
				width: 100%;
				display: table;
				min-height: 28px;

				tbody {
					width: 100%;
				}

				&.responsive {
				    & > tbody {
					    & > tr {
					        & > td {
								&:not(.tabular) {
                                    padding: 8px;
								}

							    &:first-child {
							        width: 36px;
							        background-color: #555;
							        color: #eee;
								    vertical-align: middle;
						        }
						    }

						    & + tr {
                                border-top: 3px solid #444;
						    }
					    }
				    }
                }
			}

            table.composite {
                padding: 0;
				width: 100%;

                & > tbody {
                    & > tr {
                        & > td {
                            padding: 8px;

                            &:first-child {
                                width: 33%;
                                background-color: #999;
                                color: #eee;
                                vertical-align: middle;
                            }
                        }

                        & + tr {
                            border-top: 1px solid #bbb;
                        }
                    }
                }
            }

        }
    }

    .property-group {
        .items {
            padding: 0 0 10px 0;
            background-color: #555;
        }
    }

    .property + .property,
		.property + .property-group,
		.property-group + .property {
        margin-top: 4px;
    }
}
