
@import "../utility";

.toolbox {
    $button-size: 70px;
    $padding: 10px;
    $margin: 2px;

    div.content {

        padding: $padding;
	
        span {
            padding: $padding;
            color: #eee;
            display: block;
            text-transform: uppercase;
            cursor: pointer;

            i {
                float: right;
                @include transition(all 250ms);
            }

            &.collapsed {
                i {
                    @include rotate(-90);
                }
            }
        }
    
	    div {
			overflow: hidden;

            button {
                display: inline-block;
                height: $button-size;
                width: $button-size;
                float: left;
                color: #eee;
                vertical-align: middle;
                background-color: #555;
                margin: $margin;
                border: 2px solid transparent;
                border-radius: 2px;
                @include transition(all 100ms);

                &.atom {
                    &:hover {
                        background-color: rgba(178, 32, 40, 0.5);
                    }
                }

                &.container {
                    &:hover {
                        background-color: rgba(32, 113, 178, 0.5);
                    }
                }

                &.widget {
                    &:hover {
                        background-color: rgba(178, 97, 32, 0.5);
                    }
                }

                &:hover {
                    color: #fff;
                }
            }
	    }
	}

	@for $i from 2 to 6 {
		$width: $i * $button-size + 2 * $padding + $i * $margin * 2;
		&.cols-#{$i} {
			width: $width;
		
			div.content {
				width: $width;
			}
		}
	}
}
